.pagebg{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	img{
		width: 100%;
	}
}

.wrap{
	width: 100%;
	// height: 100vh;
	// background-color: rgb(254,215,167);
}
.container1_box{
	 margin-top: 250px;
	 height: 125vw;
	 margin: 0 2.6vw;
	 margin-top: 250px;
	 background-color: rgb(255,242,227);
	 border-radius: 10px;
	 position: relative;
	 padding: 0 4vw;
}
.container1{
	    position: absolute;
		top: -20px;
		ul {
			display: flex;
			flex-direction: row;
			margin-bottom: 6vh;
			margin: 0;
			padding: 0;
			
			li{
				width: 42vw;
				display: inline-block;
				flex: 1;
				text-align: center;
			}
			li.li1{
				img{
					height: 100%;
					width: 100%;
				}
				// background: url('../assets/image/pic1.png') no-repeat center center;
				// background-size: contain;
			}
			li.li2{
				margin-left: 2vw;
				// background: url('../assets/image/pic2.png')  no-repeat center center;
				// background-size: contain;
			}
			
		}
		.text_wrap{
			line-height: 18px;
			width: 100%;
			display: flex;
			justify-content: center;
			margin-top: 20px;
			.text{
				font-size: 10px;
				width: 72vw;
				text-align: left;
			}
		}
		.title_wrap{
			height: 2vh;
			line-height: 2vh;
			width: 100%;
			text-align: center;
			margin: 20px 0;
		}
		.input_wrap{
			margin-top: 20px;
			height: 5vh;
			line-height: 5vh;
			width: 100%;
			display: flex;
			justify-content: center;
			.input1{
				width: 80vw;
				input{
					width: 100%;
					height: 5vh;
					line-height: 5vh;
					border: 1px solid #999;
					border-radius:15vw; 
					margin-left: -3vw;
					padding-left: 3vw;
				}
			}
			.input2{
				width: 85vw;
				display: flex;
				flex-direction: row;
				justify-content: space-around;
				input{
					width: 53vw;
					height: 5vh;
					line-height: 5vh;
					border: 1px solid #999;
					border-radius:15vw; 
					padding-left: 3vw;
				}
			}
			button{
				display: inline-block;
				width: 30vw;
				height: 5vh;
				background: url('../assets/image/huoqu.png');
				color:#fff;
				margin-left: 2vw;
				border: none;
			}
			.input3{
				width: 83vw;
				color: #FFF;
				font-size: 2.25vh;
				font-weight: 600;
				height: 66px;
				line-height:66px;
				vertical-align: center;
			}
		}
		.agreement-wrap {
			
		  width: 75%;
		  margin-top: 2vh;
		}
		.agreement-wrap .agree-img {
		  width: 5.466667vw;
		  height: 5.333333vw;
		  background-repeat: no-repeat;
		  background-size: contain;
		  float: left;
		}
		.agreement-wrap .agree-img.agree {
		  background-image: url("../assets/image/agree.png");
		}
		.agreement-wrap .agree-img.unagree {
		  background-image: url("../assets/image/unagree.png");
		}
		.agreement-wrap .agree-link {
		  float: left;
		  font-size: 3.2vw;
		  color: #222;
		  margin: 4px 0 0 10px;
		  text-decoration: none;
		}
		.agreement-wrap .agree-link .green {
		  color: #00a282;
		}
		
	}
	.contain2{
	   text-align: center;
	   font-size: 11px;
	   line-height:16px;
	   background-color: rgb(254,215,167);
	}